input[type="text"], 
input[type="date"], 
input[type="radio"], 
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="radio"], 
input[type="checkbox"] {
    width: auto;
}
